.footer {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: 620px;
  margin-top: 100px;
  left: 50%;
  background-color: #f4f4f2;
}
.mail {
  margin-left: 1100px;
  position: absolute;
  margin-top: 70px;
}
.input__email {
  position: absolute;
  margin-left: 1150px;
  margin-top: 300px;
}
input::-webkit-input-placeholder {
  /* WebKit browsers */
  font-size: 17px;
}
.input__mail {
  padding-left: 15px;
}
.check__box {
  position: absolute;
  margin-left: 1150px;
  margin-top: 350px;
}
.sign__me__up {
  background-color: #ee5781;
  border: none;
  color: white;
  font-family: "Zilla Slab", serif;
  font-size: 13px;
  width: 290px;
  height: 40px;
  font-weight: bold;
}
.sign__me__up:hover {
  background-color: #ea2c62;
}
.currency__setting {
  background-color: #ee5781;
}
.cu {
  position: absolute;
  margin-top: 470px;
  margin-left: 172px;
}
.facebook__icon {
  margin-left: 220px;
  margin-top: -28px;
}
.twitter__icon {
  margin-left: 260px;
  margin-top: -25px;
}
.youtube__icon {
  margin-left: 300px;
  margin-top: -27px;
}
.insta__icon {
  margin-left: 340px;
  margin-top: -27px;
}
.linkedin__icon {
  margin-left: 380px;
  margin-top: -27px;
}
.business {
  position: absolute;
  margin-top: 556px;
  margin-left: 162px;
}
.term {
  position: absolute;
  margin-top: 556px;
  margin-left: 655px;
  font-weight: lighter;
}
.privacy__policy {
  position: absolute;
  margin-top: 556px;
  margin-left: 755px;
  font-weight: lighter;
}
.cookie__policy {
  position: absolute;
  margin-top: 556px;
  margin-left: 855px;
  font-weight: lighter;
}
.personal__information {
  position: absolute;
  margin-top: 556px;
  margin-left: 955px;
  font-weight: lighter;
}
.right__reserved {
  position: absolute;
  margin-top: 556px;
  margin-left: 1200px;
  font-weight: lighter;
}
